.places__name {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  color: #ffffff;
  margin-top: 0px;
  margin-bottom: 48px;
}

@media screen and (max-width: 1024px) {
  .places__name {
    margin-bottom: 46px;
  }
}

@media screen and (max-width: 544px) {
  .places__name {
    margin-bottom: 0;
  }
}
